@import '../styles/variables.scss';

.customize-popover {
    .ant-popover-inner {
        padding: 0;

        .dropdown-content {
            padding      : 20px;
            width        : 50vw;
            background   : $background-color;
            border-radius: 8px;
            box-shadow   : 0 4px 8px rgba(0, 0, 0, 0.1);

            h5 {
                color        : $text-color !important;
                margin-bottom: 12px;
                font-weight  : bold;
                color        : #1d1d1d;
            }

            button {
                width          : 100% !important;
                justify-content: start !important;
                align-items    : center;
                border         : 0;
                color          : $text-color;

                &:hover {
                    color           : $text-color-hover;
                    background-color: $card-color;
                }
            }
        }

    }
}

.notification-popover {

    // Style cho danh sách thông báo
    .notification-list {
        max-height        : 70vh;
        overflow          : auto;
        scrollbar-width   : none; // Firefox
        -ms-overflow-style: none; // IE/Edge

        &::-webkit-scrollbar {
            display: none; // Ẩn scrollbar cho Chrome, Safari
        }

        .ant-list-item {
            width: 300px;
        }

        .fs-6 {
            font-size: 16px;
        }

        .ant-divider {
            margin: 0 !important;
        }

        .ant-typography {
            font-size: 12px;
        }
    }

    // Style cho các nút và tiêu đề
    .btn-header {
        color       : $text-color;
        border-color: $text-color;
    }

    .btn-bell {
        background-color: $text-color;
        color           : white;
        border          : 0px;
        height          : 40px;
        width           : 40px;

        &:hover {
            background-color: $text-color-hover !important;
            color           : white !important;
        }
    }



    // Style cho nút đăng nhập
    .login-button-notification {

        width     : fit-content;
        background: $text-color;

        &:hover {
            background: $text-color-hover !important;
        }


    }

    // Style cho text đăng nhập
    .notification-login-text {
        font-size: 14px !important;
    }
}