.form-forgot-password {
    padding: 6rem 11rem;
    height : 100vh;

    .title {
        font-size    : 1.625rem;
        font-weight  : 500;
        margin-bottom: 0.5rem;
    }

    .description {
        font-size    : 1rem;
        margin-bottom: 2rem;
    }

    .capcha {}

    .notification {
        margin-top: 9rem;
    }
}