@import "../../../styles/variables.scss";

.list-company {

    max-height: 500px;
    overflow  : auto;
    padding   : 0.5rem;


    &::-webkit-scrollbar {
        width: 5px; // Đặt độ rộng của scrollbar
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cfcfcf; // Màu của thanh cuộn
        border-radius   : 10px; // Bo tròn các góc
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #b6b6b6; // Màu khi hover
    }

    .item-company {
        border-radius: 10px;
        border       : 1px solid #e5e5e5;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            background-color: $background-color;
            cursor          : pointer;
            transition      : all 0.3s ease;
            box-shadow      : 0 12px 24px rgba(0, 0, 0, 0.2);
            /* Bóng đổ mạnh hơn khi hover */
            transform       : translateY(-1px);
            /* Nâng container lên khi hover */
        }
    }
}