.box_container {
    .btn_success {
        background-color: #008000;
        color           : #fff;

        &:hover {
            background-color: #2c8a40 !important;
            color           : #fff !important;
        }
    }
}