@import "../../components/styles/variables.scss"; 
.modal-login {
    padding: 1.25rem;
    
    .dBJbip {
        margin     : 0 0 1rem;
        font-size  : 1.5rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 1.25rem;
        font-weight: 600;
        color      : rgb(51, 51, 51);
        text-align : center;
    }

    .QQmSy {
        margin-bottom: 1rem;

        .omkNu {
            margin     : 0 0 0.3125rem;
            font-weight: 500;
            display    : inline-block;
            color      : rgb(51, 51, 51);
            font-size  : 0.875rem;
            line-height: 1.125rem;
        }

        .eFlKnE {
            box-sizing: border-box;

            .SWIgc {
                position: relative;

                .hapBhV {
                    padding-right   : 0.625rem;
                    background-color: rgb(255, 255, 255);
                    border          : 1px solid rgb(217, 217, 217);
                    color           : rgb(51, 51, 51);
                }
            }
        }
    }
}