@import '../styles/variables.scss';

.ant-popover-inner {
    min-width: 300px;

    .text-small {
        font-size: 13px;
    }

    .update-infor-btn {
        color       : $text-color;
        border-color: $text-color;

        &:hover {
            color           : $text-color-hover !important;
            border-color    : $text-color-hover !important;
            background-color: $background-color !important;
        }
    }
}