@import "../../../styles/_variables.scss";

.icon_edit {
    cursor   : pointer;
    color    : $divider-color;
    font-size: 20px;

    &:hover {
        color: $text-color;
    }
}

// .box_shadow {
//     box-shadow: 5px 5px 5px #ebebeb;
// }


.list_item {
    .ant-col {
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}