@import "../../../styles/_variables.scss";

.title {
    font-size  : 24px;
    font-weight: 600;
}

.icon_edit {
    cursor   : pointer;
    color    : $divider-color;
    font-size: 20px;

    &:hover {
        color: $text-color;
    }
}

.box_shadow {
    box-shadow: 5px 5px 5px #ebebeb;
}

.space_list {
    max-height: 100vh;
    margin-top: 2rem;
    width     : 100%;
}

.list_item {
    .ant-col {
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }
}