// colors
$background-color: #f5faff;
$card-color: #e1edfc;
$divider-color: #c0c0c0;
$footer-color: #4d9fff;
$link-color-footer: #1e4f94;
$link-color-footer-hover: #4478c0;
$primary-color: #1677ff;
$text-color: #1e4f94;
$text-color-hover: #4478c0;
$linear-color: linear-gradient(135deg, #1890ff 0%, #0050b3 100%);

//font-size
