// colors
$background-color: #F5FAFF;
$link-color-footer: #ccc;
$link-color-footer-hover: #4ACBFF;
$primary-color: #1677ff;
$text-color: #1E4F94;
$card-color: #E1EDFC;
$text-color-hover: #4478c0;
//font-size