// colors
$background-color       : #F5FAFF;
$card-color             : #E1EDFC;
$divider-color          : #C0C0C0;
$footer-color           : #4D9FFF;
$link-color-footer      : #1E4F94;
$link-color-footer-hover: #4478c0;
$primary-color          : #1677ff;
$text-color             : #1E4F94;
$text-color-hover       : #4478c0;



//font-size