.sider {
    overflow          : auto;
    height            : 100vh;
    position          : fixed;
    inset-inline-start: 0;
    top               : 0;
    bottom            : 0;
    scrollbar-width   : thin;
    scrollbar-color   : unset;
}

.header-employer {
    padding-left    : 12rem;
    position        : sticky;
    top             : 0;
    z-index         : 1;
    width           : 100%;
    display         : flex;
    align-items     : center;
    background-color: white;

    .menu-header {
        padding: 0;


    }
}