.sider {
    overflow          : auto;
    height            : 100vh;
    position          : fixed;
    inset-inline-start: 0;
    top               : 0;
    bottom            : 0;
    scrollbar-width   : thin;
    scrollbar-color   : unset;
    .demo-logo-vertical{
        background-color: rgba(255, 255, 255, 0.919);
        height: 6.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.header-employer {
    padding-left    : 12rem;
    position        : sticky;
    top             : 0;
    z-index         : 1;
    width           : 100%;
    display         : flex;
    align-items     : center;
    background-color: white;

    .menu-header {
        padding: 0;


    }
}