@import "../styles/variables.scss";

.login-page {
  background-color: $background-color !important;

  .image {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5158438375350141) 0%,
        rgba(255, 255, 255, 0.022846638655462215) 90%,
        rgba(255, 255, 255, 0.87718837535014) 100%
      ),
      url(https://i.pinimg.com/736x/81/38/c2/8138c22a5a8ea015b8104bdfa80ca80f.jpg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }

  .login-form {
    border-radius: 10px;
    background-color: $card-color !important;
    font-size: 1rem !important;

    .title {
      color: $text-color !important;
      font-size: 1.5rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .input-field {
      color: $text-color !important;
    }

    .lable-text {
      color: $text-color !important;
    }

    .btn-login {
      background-color: $text-color !important;
    }
  }

  a {
    color: $text-color !important;
    text-decoration: none;

    &:hover {
      color: $text-color-hover !important;
      text-decoration: underline;
    }
  }
}
