@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.font-size{
  font-size: 1rem;
}
.font-size-small{
  font-size: 0.875rem;
}
.username{
  font-size: 1rem;
  font-weight: 550;
  color: #1E4F94;
  @media screen and (max-width: 1025px) {
    display: none;
    
  }
}
.title {
  font-size    : 2rem;
  color: #555555;
}
.title1{
@apply text-2xl font-medium leading-4 text-gray-700;
}
.title2{
  @apply text-lg font-[550] text-[#333] leading-4;
}
html{
  font-family:  Be Vietnam Pro;
  font-size: 16px;
  @media (max-width: 320px) {
    font-size: 11px;  
  }
}
/* .size{
  font-size: 1rem !important;
  padding: 1rem 0.75rem !important;
  align-content: center;
} */
.salary{
  @apply text-base text-[orange] ;
}
.icon-small{
  @apply text-xs text-[#646464];
}

/* Ghi đè style cho các dấu (dots) của Carousel */
.ant-carousel .slick-dots li button {
  @apply bg-[#c3c2c2] opacity-100;
}

/* Style cho dấu (dot) đang được chọn */
.ant-carousel .slick-dots li.slick-active button {
  @apply bg-[#838383];
}
.hover-effect {
  /* cursor: pointer;
  transition: color 0.3s; */
  @apply transition-colors duration-300 cursor-pointer;
}

.hover-effect:hover {
  /* color: #1890ff; */
  @apply text-[#1890ff];
}
.custom-anchor .ant-anchor-link {
  /* margin-right: 1rem; */
  @apply mr-4;
}

.custom-anchor .ant-anchor-link-title {
  /* text-decoration: none; */
  @apply no-underline;
}


/* .f-16{
  font-size: 16px !important;
} */

.f-20{
  font-size: 20px !important;
}
.f-24{
  font-size: 24px !important;
}
/* .box_shadow {
  box-shadow: 5px 5px 5px #ebebeb;
} */
/* index.css hoặc global.css */
.ql-size-small {
  font-size: 14px !important;
}

.ql-size-medium {
  font-size: 20px !important;
}

.ql-size-large {
  font-size: 18px !important;
}

.ql-size-huge {
  font-size: 28px !important;
}
.ql-editor{
  font-size: 16px !important;
  font-family: Be Vietnam Pro;
}
.slick-arrow {
  color: #1890ff !important;
}
.ql-container{
  min-height: 100px;
}
.cursor-pointer{
  cursor: pointer !important;
}
.ant-tag
{
  @apply flex items-center;
}
.ant-menu-vertical{
  border-inline-end: none !important;
}
.ant-menu-inline{
  border-inline-end: none !important;
}