@import "../../../components/styles/_variables.scss";

.featured-jobs {
  margin-bottom: 20px;
  max-width    : 1200px;
  margin       : 0 auto;

  h2 {
    max-width    : 1180px;
    margin       : 0 auto;
    font-size    : 1.5rem;
    font-weight  : 600;
    margin-bottom: 10px;
    color        : #333;
  }

  .carousel-container {
    position   : relative;
    display    : flex;
    align-items: center;
    border     : 1 px solid red;
    max-width  : 1200px;
    margin     : 0 auto;
  }

  .carousel-grid {
    display              : grid;
    grid-template-columns: repeat(3, 1fr); // 3 cột
    grid-template-rows   : repeat(3, auto); // 3 hàng
    gap                  : 15px;
    padding              : 15px;
  }

  .featured-jobs__item {
    height    : 160px;
    margin    : 0;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      height: 200px;
    }

    .ant-card-body {
      margin-top   : auto;
      margin-bottom: auto;

    }

    .card-body {
      display        : flex;
      flex           : 1;
      flex-direction : row;
      justify-content: space-between;
      cursor         : pointer;
      align-items    : center;
      transition     : all 0.3s ease;

      .card-logo {
        flex: 0 0 60px;

        img {
          width : 78px;
          height: 78px;
        }
      }

      .card-details {
        padding-left: 10px;
        flex        : 1;

        .company-name {
          line-height       : normal;
          display           : -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow          : hidden;
        }

        .job-title {
          // margin-bottom     : 0px;
          line-height       : normal;
          display           : -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow          : hidden;
        }

        // p {
        //   white-space  : nowrap;
        //   overflow     : hidden;
        //   text-overflow: ellipsis;
        //   max-width    : 100%;
        // }
      }
    }
  }

  .custom-dot-list-style {
    display        : flex;
    justify-content: center;
    align-items    : center;
    margin-top     : 20px;

    @media (max-width: 464px) {
      display: none;
    }
  }
}

.card-item {
  &:hover {
    background-color: $background-color;
    cursor          : pointer;
    transition      : all 0.3s ease;
    box-shadow      : 0 12px 24px rgba(0, 0, 0, 0.2);
    /* Bóng đổ mạnh hơn khi hover */
    transform       : translateY(-1px);
    /* Nâng container lên khi hover */
  }
}